
#yt-warden-modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30pt;
  border-radius: 10pt;
  background-color: #eee;
  border: 3pt solid #ccc;
  z-index: 1;
}


.yt-warden-content .seperator {
  width: 100%;
  padding: 0pt;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 3pt solid #666;
}

.yt-warden-content > h1 {
  color: black;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}


.yt-warden-content .yt-warden-content button, .yt-warden-content p, 
.yt-warden-content h1, .yt-warden-content h2, .yt-warden-content h3,
.yt-warden-content div {
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
}

.yt-warden-content button {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-variant: small-caps;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms, filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.yt-warden-content #allow-content button {
    background-color: rgb(120, 60, 130);
    border-color: rgb(120, 60, 130);
}

.yt-warden-content button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
  filter: brightness(85%);
}

.yt-warden-content input::-webkit-outer-spin-button,
.yt-warden-content input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.yt-warden-content input[type=number] {
  -moz-appearance: textfield;
}

.yt-warden-content input {
  height: 24px;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
}

.yt-warden-content p {
    margin: 20px 0 10px 0;
    font-size: 12px;
}

.yt-warden-content  .btn-group {
  width: 100%;
  text-align: center;
}

.yt-warden-content #time-limit-input input[type=number] {
  margin: 0;
  width: 20px;
  height 30px;
}

.yt-warden-content #time-limit-input label { 
  font-size: 14px;
}

.yt-warden-content #time-limit-input label +  input[type=number] {
  margin-left: 10px;
}

.yt-warden-content #time-limit-input {
  width: fit-content;
  display: inline-block;
  text-align: center;
  padding: 4px;
  border-radius: 6px;
  border: 1px solid #888;
  margin: 12px 0 0 0;


.yt-warden-content #time-limit-input.has-input {
  border-color: #13aa52; 
}

.yt-warden-content #time-limit {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
